# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
../backend/api/static/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
*.local
.vscode/*
!.vscode/extensions.json
.idea/

# Vite
.vite/
node_modules/.tmp/
